/* You can delete those if you want. I just found them very helpful */
* {
    box-sizing: border-box
}
/*.m {
    /* Don't cut off dropdowns! */
   /* overflow: initial;
}*/

/* Add your styles here */
.m .select-wrapper+label {
    top: 100%;
}
.m .select-wrapper input.select-dropdown {
    height: 1.5rem;
    line-height: 1.5rem;
}
